---
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Home'>
	<TitlePage title='Finance Go' />
	<!-- <ListCategories /> -->

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>

<!-- 
</HEAD>
<style>
    div[class^="ad-slot-"]{min-width: 100%; display:inline-block; border:1px solid black }
    .ad-slot-horizontal {height:auto;min-height:90px }
    .ad-slot-billboard {height:auto;min-height:90px }
    .ad-slot-box {height:250px}
    .ad-slot-bigbox {height:600px}

    @media screen and (max-width:730px){
    /* Mobile */ 
      .ad-slot-top{min-height:100px }
    }
    @media screen and (min-width:731px){
    /* Desktop */
      .ad-slot-top{min-height:90px }
    }
  </style>
<BODY>


<div class="ad-slot-header" id="ad-slot-header"></div>

<div class="ad-slot-box" id="ad-slot-box_1"></div>
<div class="ad-slot-box" id="ad-slot-box_2"></div>
<div class="ad-slot-box" id="ad-slot-box_3"></div>
<div class="ad-slot-box" id="ad-slot-box_4"></div>
<div class="ad-slot-box" id="ad-slot-box_5"></div>

<div class="ad-slot-horizontal" id="ad-slot-horizontal_1"></div>
<div class="ad-slot-horizontal" id="ad-slot-horizontal_2"></div>
<div class="ad-slot-horizontal" id="ad-slot-horizontal_3"></div>

<div class="ad-slot-billboard" id="ad-slot-billboard_1"></div>
<div class="ad-slot-billboard" id="ad-slot-billboard_2"></div>
<div class="ad-slot-billboard" id="ad-slot-billboard_3"></div>


</BODY>
</HTML> -->